/* Default button. Primary colour as background. */
.button {
    -fx-background-color: -button-background;
    -fx-text-fill: -button-text;
    /* increase font size to normal for buttons */
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: derive(-button-background, -15%);
}

.button:pressed {
    -fx-background-color: derive(-button-background, -30%);
}