.button {
    -fx-background-color: Transparent;
    -fx-text-fill: -fx-button;
}

.button:hover {
    /* The last two numbers is opacity */
    -fx-background-color: -fx-button-hover;
}

.button:pressed {
    -fx-background-color: -fx-button-pressed;
}