.combo-box {
    -fx-background-color:  Transparent;
}

/* Color of the text of the combobox based on the background color. */
.combo-box .list-cell {
    -fx-text-fill: ladder(-fx-control-inner-background, white 0%, white 59%, black 60%, black 100%);
}

.combo-box:hover {
    -fx-background-color: -fx-accent;
}

.combo-box:pressed {
    -fx-background-color: derive(-fx-control-inner-background, -35%);
}

/* an arrow is a button */
.combo-box .arrow {
    -fx-background-color: -fx-button;
}

/* The selector of the little dropped down list */
.combo-box .list-cell:hover {
    -fx-background-color: -fx-accent;
}

/* Styling for a item of which the checkbox is checked */

.combobox-done .list-cell {
    -fx-text-fill: ladder(-fx-control-inner-background, -fx-text-gray-light 0%, -fx-text-gray-light 59%, -fx-text-gray-dark 60%, -fx-text-gray-dark 100%);
    -fx-font-style: oblique;
}

.combobox-done .text {
    -fx-strikethrough: true;
}

