/* Following the Material design guidelines at material.io */
@font-face {
    -fx-font-family: "Roboto";
    src: url('../font/Roboto/Roboto-Medium.ttf');
}

.root {
    -fx-font-family: Roboto;
    -fx-font-size: 13pt;
    -fx-background-color: #EEEEEE;
    -fx-base: #EEEEEE;
}

#settingsPane {
    -fx-background-color: #EEEEEE;
}

#helpPane {
    -fx-background-color: #EEEEEE;
}
