/* Following the Material design guidelines at material.io */
@font-face {
    -fx-font-family: "Roboto";
    src: url('../font/Roboto/Roboto-Regular.ttf');
}

@font-face {
    -fx-font-family: 'Roboto';
    /*-fx-font-weight: lighter;*/
    -fx-font-style: italic;
    src: url('../font/Roboto/Roboto-Italic.ttf');
}

.root {
    -fx-font-family: Roboto;
    /* should be 13 but this allows more tasks per day */
    -fx-font-size: 12pt;
    -fx-base: #EEEEEE;
    -fx-background-color: -fx-base;

    /* custom base colors */
    -fx-button: #2397F3;
    /* The last two numbers is opacity */
    -fx-button-hover: #D9D9D940;
    -fx-button-pressed: #D9D9D9;
    /* Grayed out text when an item is selected. */
    -fx-text-gray: #949494;
    -fx-text-gray-light: #dfdfdf;
    -fx-text-gray-dark: #767676;

    /* Color of the selector */
    -fx-accent: derive(-fx-control-inner-background, -15%);
}

.tool-bar {
    -fx-background-color: -fx-base;
}

/* style panes apart because using .pane didn't work */
#settingsPane {
    -fx-background-color: -fx-base;
}

#helpPane {
    -fx-background-color: -fx-base;
}

/* italic title on features page */
#helpTextTitle {
    -fx-font-style: italic;
}
