!releases/setup/*.exe
!releases/setup/*.iss
!out/artifacts/plep_jar/plep.jar
!releases/*.jar
!lib/**/*.jar
!gradle/wrapper/gradle-wrapper.jar

.idea/
build/
releases/resources/

# Database files
Plep.iml

# Package Files #
*.jar

# Gradle:
.gradle/*

# IntelliJ
/out/