# InnoSetup
!**/*.iss

# launch4j
!releasing/Windows/launch4j/*.manifest

*.class

# Database files
!releasing/arch-linux/plep.db
plep.db
Plep.iml

.idea/*
out/*

# IntelliJ
/out/

.gradle/
.idea/
build/
lib/
out/
plep.iml
releases/resources/

# makepkg
releasing/arch-linux/plep-source/
releasing/arch-linux/src/
releasing/arch-linux/pkg
