!releases/setup/*.exe
!releases/setup/*.iss
!out/artifacts/plep_jar/plep.jar
!releases/*.jar

*.class

# Database files
plep.db
Plep.iml

.idea/*
out/*

# IntelliJ
/out/

.gradle/
.idea/
build/
lib/
out/
plep.iml
releases/resources/
