/* Selected rows */
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .text-field-list-cell:filled:selected {
    -fx-background-color: -fx-selection-bar;
    -fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
}

/* Selected when control is not focused */
.text-field-list-cell:filled:selected {
    -fx-background-color: inherit;
    -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
}

.text-field-list-cell:filled:selected:odd {
    -fx-background-color: -fx-control-inner-background-alt;
} 