.check-box > .box > .mark {
    /* color of checkmark */
    -fx-background-color: transparent;
    /*-fx-background-color: -fx-control-inner-background;*/
}

.check-box > .box {
    /*!* remove checkmark when deselected by making background the same color *!*/
    -fx-background-color: transparent;

    /*!* style the border *!*/
    -fx-border-color: ladder(-fx-control-inner-background, white 49%, -fx-primary-text 50%);
    -fx-border-radius: 2, 2, 1;
    -fx-background-radius: 2, 2, 1;
    -fx-border-width: 2.5;
}

.check-box:selected > .box {
    /* background of box which contains checkmark */
    -fx-border-color: transparent;
    -fx-background-color: ladder(-fx-control-inner-background, white 49%, -fx-primary-text 50%);
}

.check-box:selected > .box > .mark {
    /* color of checkmark */
    -fx-background-color: ladder(-fx-control-inner-background, -fx-primary-text 49%, white 50%);
}

/* Make background a little darker (or lighter) on hover. */
.check-box:hover > .box,
.check-box:hover > .box > .mark {
    color-darker: derive(-fx-control-inner-background, -10%);
    color-lighter: derive(-fx-control-inner-background, 50%);

    -fx-background-color: ladder(-fx-control-inner-background, color-lighter 49%, color-darker 50%);
}