.check-box > .box > .mark {
    /* color of checkmark */
    -fx-background-color: -checkbox-background;
}

.check-box > .box {
    /*!* remove checkmark when deselected by making background the same color *!*/
    -fx-background-color: -checkbox-background;

    /*!* style the border *!*/
    -fx-border-color: #6D6D6D;
    -fx-border-radius: 3, 2, 1;
    -fx-background-radius: 3, 2, 1;
    /* TODO Something strange happens when using -fx-border-width > 1.65 and < 4.65.
     To reproduce: Plep half screen, click Settings. */
    -fx-border-width: 2.5;
}

.check-box:selected > .box {
    /* background of box which contains checkmark */
    -fx-border-color: -secondary;
    -fx-background-color: -secondary;
}

/* Make background a little darker on hover. */
.check-box:hover > .box,
.check-box:hover > .box > .mark {
    -fx-background-color: derive(-checkbox-background, -5%);
}