.combo-box,
.combobox-done {
    -fx-background-color:  -fx-control-inner-background;
}

/* Color of the text of the courselabel based on the background color. */
.combo-box .list-cell,
.combobox-done .list-cell {
    -fx-text-fill: ladder(-fx-control-inner-background, white 0%, white 59%, black 60%, black 100%);
}

.combo-box:hover,
.combobox-done:hover {
    -fx-background-color: derive(-fx-control-inner-background, -5%);
}

.combo-box:pressed,
.combobox-done:pressed {
    -fx-background-color: derive(-fx-control-inner-background, -10%);
}

/* an arrow is a button */
.combo-box .arrow,
.combobox-done .arrow {
    -fx-background-color: -secondary;
}

/* The selector of the little dropped down list */
.combo-box .list-cell:hover,
.combobox-done .list-cell:hover {
    -fx-background-color: derive(-fx-control-inner-background, -5%);
}

/* Styling for an item of which the checkbox is checked */

.combobox-done .list-cell {
    -fx-font-style: oblique;
}

.combobox-done .text {
    -fx-strikethrough: true;
}

