.combo-box {
    -fx-background-color:  -fx-control-inner-background;
}

/* Color of the text of the courselabel based on the background color. */
.combo-box .list-cell {
    -fx-text-fill: ladder(-fx-control-inner-background, white 0%, white 59%, black 60%, black 100%);
}

.combo-box:hover {
    -fx-background-color: derive(-fx-control-inner-background, -5%);
}

.combo-box:pressed {
    -fx-background-color: derive(-fx-control-inner-background, -10%);
}

/* an arrow is a button */
.combo-box .arrow {
    -fx-background-color: -secondary;
}

.combo-box .list-cell:hover{
    -fx-background-color: derive(-fx-control-inner-background, -5%);
}

.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background-color: derive(-fx-control-inner-background, -10%);
}

/* Styling for an item of which the checkbox is checked */
/*.combobox-done {*/
    /*-fx-background-color: -primary;*/
/*}*/


/*.combobox-done .list-cell {*/
    /*-fx-font-style: oblique;*/
/*}*/

/*.combobox-done .text {*/
    /*-fx-strikethrough: true;*/
/*}*/

