.combo-box {
    -fx-background-color:  -fx-control-inner-background;
}

/* Color of the text of the courselabel based on the background color. */
.combo-box .list-cell {
    -fx-text-fill: ladder(-fx-control-inner-background, white 49%, -fx-primary-text 50%);
}

.combo-box:hover {
    color-darker: derive(-fx-control-inner-background, -5%);
    color-lighter: derive(-fx-control-inner-background, 30%);

    -fx-background-color: ladder(-fx-control-inner-background, color-lighter 49%, color-darker 50%);
}

.combo-box:pressed {
    color-darker: derive(-fx-control-inner-background, -15%);
    color-lighter: derive(-fx-control-inner-background, 50%);

    -fx-background-color: ladder(-fx-control-inner-background, color-lighter 49%, color-darker 50%);
}

/* an arrow is a button */
.combo-box .arrow {
    -fx-background-color: ladder(-fx-control-inner-background, white 49%, -fx-primary-text 50%);
}

.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    color-darker: derive(-fx-control-inner-background, -5%);
    color-lighter: derive(-fx-control-inner-background, 30%);

    -fx-background-color: ladder(-fx-control-inner-background, color-lighter 49%, color-darker 50%);
}

/* Styling for an item of which the checkbox is checked */
/*.combobox-done {*/
    /*-fx-background-color: -primary;*/
/*}*/


/*.combobox-done .list-cell {*/
    /*-fx-font-style: oblique;*/
/*}*/

/*.combobox-done .text {*/
    /*-fx-strikethrough: true;*/
/*}*/

