/* TreeView and TreeView */


/* Selected rows */
.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .text-field-tree-cell:filled:selected,
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .text-field-list-cell:filled:selected {
    /*-fx-background-color: -fx-selection-bar; !* default *!*/
    /*-fx-border-color: black; !* change border instead of background so it doesn't override item colors *!*/

    /* First two are the borders, the last one the color of the listcell background. Here we take it the color it already is so the item colors do not get overridden, but darker so the white ones are also readable (the text is forced to white when selected, didn't find out how to change that) */
    color-darker: derive(-fx-control-inner-background, -25%);
    color-lighter: derive(-fx-control-inner-background, 75%);

    -fx-background-color:
            ladder(-fx-control-inner-background, color-lighter 49%, color-darker 50%),
            ladder(-fx-control-inner-background, color-lighter 49%, color-darker 50%),
            ladder(-fx-control-inner-background, color-lighter 49%, color-darker 50%);

    /*-fx-table-cell-border-color: derive(-fx-selection-bar, 20%);*/
}

.tree-view,
.list-view {
    /* remove border */
    -fx-background-color: -general-background, -general-background, -general-background;
}

.tree-cell {
    /*-fx-background: -fx-control-inner-background;*/
    -fx-control-inner-background: -general-background;
    -fx-min-height: 40px;
}

.list-cell {
    /*-fx-background: -fx-control-inner-background;*/
    /*-fx-control-inner-background: red;*/
    /*-fx-control-inner-background: -general-background;*/
}

.label {
    -fx-wrap-text: true;
    -fx-text-fill: ladder(-fx-control-inner-background, white 49%, -fx-primary-text 50%);
}

/* text of the tasks marked as done */

.label-done {
    -fx-text-fill: ladder(-fx-control-inner-background, -fx-primary-light-text 0%, -fx-secondary-light-text 59%, -fx-secondary-text, -fx-primary-text);
    -fx-font-style: oblique;
}

.label-done .text {
    -fx-strikethrough: true;
    -fx-wrap-text: true;
}

